@model IEnumerable<PetWeb2._0.Models.ExamenClinico>

<p>
    @Html.ActionLink("Create New", "Create")



</p>


@using (Html.BeginForm("Filtro", "ExamenClinicoes", FormMethod.Get))
{

 <input type="text" name="microchip" value="" />  
 <input type="submit" value="buscar" />
 }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MotivoConsulta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FrecuenciaCardiaca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TemperaturaPaciente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anamnesis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diagnostico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tratamiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mascota.Nombre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotivoConsulta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FrecuenciaCardiaca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TemperaturaPaciente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Anamnesis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnostico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tratamiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mascota.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
