@model PetWeb2._0.Models.Defuncion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Defuncion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObservacionDefuncion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionDefuncion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CausaDefuncion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CausaDefuncion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDefuncion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDefuncion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defuncion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defuncion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mascota.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mascota.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
