@model IEnumerable<PetWeb2._0.Models.Defuncion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ObservacionDefuncion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CausaDefuncion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDefuncion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defuncion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mascota.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ObservacionDefuncion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CausaDefuncion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDefuncion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defuncion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mascota.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
