@model PetWeb2._0.Models.Mascota

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionDefuncion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionDefuncion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CausaDefuncion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CausaDefuncion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDefuncion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDefuncion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estilizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estilizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defuncion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defuncion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueñoMascota.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueñoMascota.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especie1.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie1.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza1.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
