@model IEnumerable<PetWeb2._0.Models.ControlDesparacitaciones>

<p class="row justify-content-center">
    @Html.ActionLink("Create New", "Create")
</p>

<head>
    <title>Home de petweb</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        #table {
            width: 80%;
        }
    </style>
</head>
<body>
    <div class="row justify-content-center">
        <table class="table table-hover " id="table">
            <thead class=" thead-dark ">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Peso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProximaFecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dosis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ViaAdministracion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Desparacitador)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mascota.Nombre)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="bg-success">
                        <td>
                            @Html.DisplayFor(modelItem => item.Peso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProximaFecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dosis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ViaAdministracion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Desparacitador)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mascota.Nombre)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>