@model PetWeb2._0.Models.DueñoMascota

@using (Html.BeginForm())
{
    @Styles.Render("~/Content/NuevaFicha.css")
    @Html.AntiForgeryToken()

    <div class="principal3">
        <div class="FormIncripcionDueño">
            <h4>DueñoMascota</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Rut, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Rut, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rut, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="button medium" />
            </div>
        </div>

        <div>
            @Html.Action("Create", "Ubicacions")
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
