<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/Content/Estilo.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <style>
        #Menu{
            height: 100%;          
        }
        li {
           text-align:center;
           color:teal;
        }

    </style>
   

</head>
<body style="background: url(../../Content/Icon/Fondo.jpg); background-size:100% 100%; background-attachment:fixed; ">

    @Html.Partial("_LoginPartial")
    @if (Request.IsAuthenticated)
    {

    <div id="Menu" style="background: rgba(0, 0, 0, 0.7);">



        <nav class="navbar navbar-dark " style="background-color:teal;">
            <h2>Sistema Web Veterinario PetWeb</h2>
            <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white;">Cerrar sesión</a>

        </nav>
        <div class="row">
            <div class="col-2 " style="background-color:teal;">
                <div class="list-group" id="list-tab" role="tablist" style="width:110%;">
                    <ul style="list-style:none; " class="dropdown-item">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home", null, new { style = " text-decoration:none; color: white;;" })
                        </li>
                    </ul>
                    <ul style="list-style:none; " class="dropdown-item">
                        <li>
                            @Html.ActionLink("Mascotas", "Index", "VW_NuevaFicha", null, new { style = " text-decoration:none; color: white;;" })
                        </li>
                    </ul>
                    <ul style="list-style:none; " class="dropdown-item">
                        <li>
                            @Html.ActionLink("Nuevo Cliente", "Create", "DueñoMascota", null, new { style = " text-decoration:none; color: white;" })
                        </li>
                    </ul>
                    <ul style="list-style:none; " class="dropdown-item">
                        <li>
                            @Html.ActionLink("Nueva Mascota", "Create", "Mascotas", null, new { style = " text-decoration:none; color: white;" })
                        </li>
                    </ul>
                    <ul style="list-style:none; " class="dropdown-item">
                        <li>
                            @Html.ActionLink("Defunción", "Create", "Defuncions", null, new { style = " text-decoration:none; color: white;" })
                        </li>
                    </ul>
                    <ul style="list-style:none; " class="dropdown-item">
                        <li>
                            @Html.ActionLink("Leyes", "Leyees", "Home", null, new { style = " text-decoration:none; color: white;" })
                        </li>
                    </ul>


                </div>
            </div>
            <div class="col-10">

            </div>
        </div>
    </div>

       


    }



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $('#myDropdown').on('show.bs.dropdown', function () {
            // do something…
        })
    </script>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>


    @RenderSection("scripts", required: false)

</body>
</html>
