<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/Estilo.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="Imagen">
    <header>
        <div class="content-all">
            <div class="PositionBtnHome">
                <div class="buttonInicio small">
                    @Html.ActionLink("PetWeb", "Index", "Home", new { area = "" }, new { @class = "navbarbrand", style = "color:#43EBD9; text-decoration:none;" } )
                </div>
            </div>
            @Html.Partial("_LoginPartial")
            @if (Request.IsAuthenticated)
            {
                <input type="checkbox" id="check">
                <label for="check"><img src="Content/Icon/Menu.png"></label>
                <h2 class="titulo">PetWeb</h2>
                <nav class="menu">
                    <ul>
                        <li>
                            @Html.ActionLink("Nueva Ficha", "Create", "DueñoMascota",null,new { style = "color:#43EBD9; text-decoration:none;" })
                        </li>
                        <li>
                            @Html.ActionLink("Ficha Medica Mascota", "Index", "Home", null, new { style = "color:#43EBD9; text-decoration:none;" })
                        </li>
                        <li>
                            @Html.ActionLink("Mis Mascotas", "Index", "Home", null, new { style = "color:#43EBD9; text-decoration:none;" })
                        </li>
                        <li>
                            @Html.ActionLink("Mascotas", "Index", "Home", null, new { style = "color:#43EBD9; text-decoration:none;" })
                        </li>
                        <li>
                            @Html.ActionLink("Defunciones", "Index", "Home", null, new { style = "color:#43EBD9; text-decoration:none;" })
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
